VITE_STELLAR_NETWORK=TESTNET
VITE_STELLAR_RPC_URL=https://soroban-testnet.stellar.org
VITE_STELLAR_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
VITE_HORIZON_URL=https://horizon-testnet.stellar.org
VITE_BOUNTY_CONTRACT_ID=
VITE_REPUTATION_CONTRACT_ID=
VITE_DISPUTE_CONTRACT_ID=
VITE_COUNTER_CONTRACT_ID=
